/* General code block styling */
pre {
  background-color: #1E1E28;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
  color: #D9E0EE;
  font-family: 'Fira Code', monospace;
}

code {
  color: #D9E0EE;
  font-family: 'Fira Code', monospace;
}

.highlighter-rouge {
  background-color: #1E1E28;
  color: #f5e0dc;
}

.highlight {
  .c     { color: #939ab7; font-style: italic } // Comment
  .err   { color: #f38ba8; background-color: #f1d8e9 } // Error
  .k     { color: #cba6f7 } // Keyword
  .o     { color: #89dceb } // Operator
  .cm    { color: #939ab7; font-style: italic } // Comment.Multiline
  .cp    { color: #f5c2e7; font-weight: italic } // Comment.Preproc
  .c1    { color: #939ab7; font-style: italic } // Comment.Single
  .cs    { color: #f5c2e7; font-style: italic } // Comment.Special
  .gd    { color: #1e1e2e; background-color: #f38ba8 } // Generic.Deleted
  .gd .x { color: #1e1e2e; background-color: #f38ba8 } // Generic.Deleted.Specific
  .ge    { font-style: italic; color: #f5c2e7 } // Generic.Emph
  .gr    { color: #f38ba8 } // Generic.Error
  .gh    { color: #c3bac6 } // Generic.Heading
  .gi    { color: #1e1e2e; background-color: #a6e3a1 } // Generic.Inserted
  .gi .x { color: #1e1e2e; background-color: #a6e3a1 } // Generic.Inserted.Specific
  .go    { color: #6c7086 } // Generic.Output
  .gp    { color: #6c7086 } // Generic.Prompt
  .gs    { color: #cdd6f4 } // Generic.Strong
  .gu    { color: #a6adc8 } // Generic.Subheading
  .gt    { color: #f38ba8 } // Generic.Traceback
  .kc    { color: #cba6f7 } // Keyword.Constant
  .kd    { color: #cba6f7 } // Keyword.Declaration
  .kp    { color: #cba6f7 } // Keyword.Pseudo
  .kr    { color: #cba6f7 } // Keyword.Reserved
  .kt    { color: #f5a97f } // Keyword.Type
  .m     { color: #f2cdcd } // Literal.Number
  .s     { color: #fab387 } // Literal.String
  .n     { color: #89b4fa } // Name
  .na    { color: #89b4fa } // Name.Attribute
  .nb    { color: #f38ba8 } // Name.Builtin
  .nc    { color: #f5a97f } // Name.Class
  .no    { color: #f38ba8 } // Name.Constant
  .ni    { color: #cba6f7 } // Name.Entity
  .ne    { color: #f38ba8 } // Name.Exception
  .nf    { color: #89b4fa } // Name.Function
  .nn    { color: #6c7086 } // Name.Namespace
  .nt    { color: #f5a97f } // Name.Tag
  .nv    { color: #89b4fa } // Name.Variable
  .ow    { color: #cba6f7 } // Operator.Word
  .w     { color: #6c7086 } // Text.Whitespace
  .mf    { color: #f2cdcd } // Literal.Number.Float
  .mh    { color: #f2cdcd } // Literal.Number.Hex
  .mi    { color: #f2cdcd } // Literal.Number.Integer
  .mo    { color: #f2cdcd } // Literal.Number.Oct
  .sb    { color: #a6e3a1 } // Literal.String.Backtick
  .sc    { color: #a6e3a1} // Literal.String.Char
  .sd    { color: #a6e3a1 } // Literal.String.Doc
  .s2    { color: #a6e3a1} // Literal.String.Double
  .se    { color: #a6e3a1 } // Literal.String.Escape
  .sh    { color: #a6e3a1} // Literal.String.Heredoc
  .si    { color: #a6e3a1} // Literal.String.Interpol
  .sx    { color: #a6e3a1} // Literal.String.Other
  .sr    { color: #a6e3a1} // Literal.String.Regex
  .s1    { color: #a6e3a1} // Literal.String.Single
  .ss    { color: #a6e3a1} // Literal.String.Symbol
  .bp    { color: #f5c2e7 } // Name.Builtin.Pseudo
  .vc    { color: #89b4fa } // Name.Variable.Class
  .vg    { color: #89b4fa } // Name.Variable.Global
  .vi    { color: #89b4fa } // Name.Variable.Instance
  .il    { color: #f2cdcd } // Literal.Number.Integer.Long
}

